html {
    scroll-behavior: smooth;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Classes auxiliares */
.container {
    /* Eu ainda não sei como funciona o max-width: ; Depois eu vou pesquisar*/
    max-width: 1280px;
    /* background-color: aqua; */
    margin: 0 auto;
    padding: 0 2%;
}
.w60{
    width: 60%;
    float: left;
}
.w40{
    width: 40%;
    float: left;
}
.w33 {
    float: left;
    width: 33.3%;
}

.w50 {
    width: 50%;
    float: left;
}

.w100 {
    width: 100%;
    float: left;
}

.center {
    text-align: center;
}

.clear {
    /* Eu ainda não sei como funciona o clear:e as suas propriedades ;Depois eu vou pesquisar  */
    clear: both;
}

/* Classes do site*/
header {
    padding: 8px 0;
}

.logo {
    float: left;
}

.logo a {
    text-decoration: none;
    color: black;
}

.logo h2 {
    font-weight: normal;
    font-size: 23px;
}

.menu-desktop {
    float: right;
}

nav.menu-desktop ul {
    position: relative;
    top: 8px;
}

nav.menu-desktop li {
    /* Com o display:inline-block ele aceita o width e o height
     Com o display:inline o elemento não aceita o width e o height
          */
    font-weight: lighter;
    padding: 0 10px;
    display: inline-block;
}

nav.menu-desktop a {
    color: black;
    text-decoration: none;
}

nav.menu-desktop a:hover {
    text-decoration: underline;
}

nav.menu-desktop li.selected {
    font-weight: normal;
    text-decoration: underline;
}

/* Secção main-bg */
section.main-bg {
    /*necessario para o overlay funcionar */
    position: relative;
    width: 100%;
    padding: 140px 0 200px 0;
    background-image: url(../img/img3.jpg);
    /* background-image: linear-gradient(to top,rgba(20, 17, 17, 0.568),rgba(0, 0, 0, 0.349)),url(../img/img3.jpg); */
    background-repeat: no-repeat;
    /* Cover para cobrir tudo*/
    background-size: cover;
    background-position: center;
}

section.main-bg h2 {
    text-align: center;
    color: #52aaa7;
    font-size: 40px;
    font-weight: normal;
}

section.main-bg p {
    text-align: left;
    color: white;
    font-size: 17px;
    margin-top: 15px;
}

/* Eu não sei como funciona esta forma de deçlarar */
section.main-bg>.container {
    position: relative;
    z-index: 2;
}

.overlay {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.705);
    left: 0;
    top: 0;
}

/* Secção de diferencias */
section.diferencias {
    padding: 30px 0;
    text-align: center;
}

.line-text {
    color: #52aaa7;
    position: relative;
    display: inline-block;
}

.line-text>div {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 3px;
    background: #52aaa7;
}

.line-text h2 {
    font-weight: normal;
    font-size: 27px;
    margin-top: 5px;
}

.icones-diferencias {
    margin-top: 35px;
}

.box-icones-single {
    float: left;
    /* A gente tem três box nê
   então eu vou fazer 100% dividindo por 3%(três porcento)  fica 33.3..%
  */
    width: 33.3%;
    padding: 0 10px;
    margin-bottom: 30px;
}

.box-icones-single h2 {
    color: #8a6b62;
    font-size: 40px;
}

.box-icones-single p {
    color: #646464;
    font-weight: lighter;
    font-size: 16px;
}

/* Fim secção diferencias */

/* Secção sobre */
section.sobre-equipe {
    padding: 30px 0;
    background: rgb(225, 225, 225);
}

section.sobre-equipe>.container {
    display: flex;
    flex-wrap: wrap;
}

.equipe-container {
    width: 50%;
}

.sobre-container {
    width: 50%;
}

.sobre-container p {
    color: black;
    font-size: 15px;
    margin-top: 18px;
}

.avatar-box {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.img-avatar {
    /* display: inline-block; */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: 100% 100%;
}

.descricao-avatar {
    /* O 70px e o tamanho da imagem (img-avatar)*/
    width: calc(100% - 70px);
    /* display: inline-block; */
    padding: 0 10px;
    /* background-color: blue; */
}

.descricao-avatar h3 {
    color: rgb(30, 30, 30);
    font-weight: normal;
    font-style: italic;
}

.descricao-avatar p {
    color: rgb(30, 30, 30);
    font-weight: lighter;
}

/*Fim secção sobre*/

/*secção inscricao*/
section.inscricao {
    background-color: #52aaa7;
    padding: 20px 0;
}

h2.inscricao-texto {
    font-weight: normal;
    color: white;
}

.inscricao-form input[type=text] {
    width: calc(100% - 220px);
    height: 30px;
    background: white;
    border: 1px solid #ccc;
    outline: none;
    display: inline-block;
    font-size: 20px;
    padding: 20px 0 20px 10px;
}

.inscricao-form input[type=submit] {
    padding-top: 10px;
    padding-bottom: 33px;
    width: 120px;
    height: 30px;
    background: #1d6c64;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none;
    margin-left: -5px;
    color: white;
    font-weight: normal;
    font-size: 20px;
}

/*Fim secção incricao*/

/*Secção card*/
section.card {
    padding: 10px 0;
}

.card-single {
    /* background-color: white; */
    width: 33.3%;
    float: left;
    /* Uma das nova  ecnica de dar espaços nos elementos
    border: 15px solid white;
     */
    padding: 50px;
}

section.card .card-single img {
    width: 100%;
}

.card-single h2 {
    margin-top: 10px;
    font-weight: normal;
    font-size: 19px;
}

.card-single p {
    margin: 10px 0;
    font-weight: lighter;
    font-size: 19px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

/* Fim Secção cards */
/* secção footer 1 */
footer.footer1 {
    background: #52aaa7;
    padding: 20px 0;
    color: white;
}

footer.footer1 h2 {
    font-weight: normal;
    font-size: 23px;
}

footer.footer1 p {
    margin-top: 8px;
    font-weight: lighter;
}
footer.footer1 p i{
    margin-right: 7px;
}

footer.footer1 a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 5px 0;
}

div.group-icons a {
    display: inline-block;
    font-size: 18px;
    margin: 15px 10px;
}

/* Fim seção footer 1 */
/* secção footer 2 */
footer.footer2 {
    background: #237a70;
    color: white;
    padding: 15px 0;
    text-align: center;
}

/* Fim seção footer 2 */
nav.menu-mobile {
    display: none;
    float: right
}

nav.menu-mobile h2 {
    cursor: pointer;
}

nav.menu-mobile ul {
    display: none;
    width: 100%;
    background: white;
    position: absolute;
    left: 0;
    top: 45px;
    z-index: 999;
    text-align: center;
}

nav.menu-mobile li.selected {
    background-color: rgb(182, 169, 169);
}

nav.menu-mobile li {
    padding: 8px 0;
    border-bottom: 1px solid black;
}

nav.menu-mobile a {
    display: block;
    color: black;
    text-decoration: none;
}

/* Pagina Sobre */
section.title-page {
    padding: 30px;
    width: 100%;
    min-height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    /*Cover eh para cobrir tudo*/
    background-size: cover;
    position: relative;
}

section.title-page>.container {
    position: relative;
    /* Para usar o z-index tambem e preciso position relativer*/
    z-index: 101;
}

section.title-page h2 {
    color: #44DAc5;
    font-size: 35px;
    font-weight: normal;
}

section.title-page p {
    font-weight: lighter;
    font-size: 16px;
    color: white;

}

.overlay__title-page {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

/* Secção sobre noticia */
section.sobre__noticia {
    padding: 30px 0;
}

.sobre__single__noticia img {
    max-width: 100%;
    padding-right: 5px;
    padding-bottom: 5px;
    float: left;
    width: 50%;
}

.sobre__single__noticia p {
    font-size: 16px;
    /* font-weight: lighter; */
    float: left;
    width: 50%;
    line-height: 30px;
    margin-bottom: 15px;
    padding: 10px 15px;
}

.paragrafo__noticia__single {
    margin-top: 15px;

}

.paragrafo__noticia__single p {
    margin-top: 8px;
}

/* Fim Secção sobre noticia */
/*Efeito paralax*/
section.paralax {
    padding: 30px;
    width: 100%;
    min-height: 200px;
    background-image: url(../img/img6.jpg);
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

section.paralax h2.chamada-paralax {
    border: 1px solid #44DAc5;
    padding:10px 30px;
    cursor: pointer;
    color: #44DAc5;
    font-size: 18px;
    /* O display:inline ocupa toda a linha */
    display: inline-block;
    font-weight: lighter;
    transition: 0.5s;
}
section.paralax h2.chamada-paralax:hover{
    background-color:rgba(255, 255, 255, 0.699);
    color: black;
    border: 1px solid black;
}


section.paralax p {
    color: white;
    margin-top: 10px;
}

/*Fim efeito paralax*/
/* Secção equipe */
section.equipe {
    padding: 40px 0;
}

.equipe-circle {
    margin-top: 50px;
    display: flex;
    /* Não sei o que significa mas depois vou pesquisar */
    flex-wrap: nowrap;
    /* width: 33.3%; */
}

.equipe-circle-single {
    padding: 0 20px;
    text-align:center;
}
.equipe-circle-single h3{
    margin-top:8px;
    font-weight: normal;
    font-size: 20px;
}
.equipe-circle-single p{
    font-weight: lighter;
}
.avatar-single
{
  position: relative;
 /* para formar um circulo o width deve ser igual ah o padding-top*/
  width: 60%;
  padding-top: 60%;
  margin: 0 auto;
 }
 .avatar-single-container{
     background-color: #ccc;
     position: absolute;
     top:0;
     left: 0;
     width: 100%;
     height: 100%;
     border-radius: 50%;
     background-size: 100% 100%;
 } 

/* Fim Secção equipe */

 /* Secção final */
 section.sobre_final{
  background-color: rgb(238, 231, 231);
  border-top: 2px solid rgb(210,210,210);
  padding: 25px 0;
 }
 section.sobre_final p{
 margin-top: 10px;
 font-size: 16px;
 font-weight: lighter;       
}
 .card-text{
    margin-top: 10px;
    width: 80%; 
    position: relative;
 }
  .card-text img{
    max-width: 100%; 
 }
 .card-text h3{
    color: white;
  position: absolute;
  right: 10px;
  bottom: 10px;
    font-size: 20px;
    font-weight: normal;
}

 /* Fim seção final */
/* Fim pagina sobre */

/* Pagina de contacto*/
  section.contacto{
    padding: 30px 0;
  }
  section.contacto .w50,
  section.contacto .w100{
      padding:0 10px;
  }
  .formulario form{
      margin-top: 10px;
  }
  .formulario h2{
      background-color: #DDDDDD;
      text-align: center;
      color: #ACACD9;
      font-size: 17px;
      font-weight: normal;
      border-left: 5px solid #CCCCCC;
      padding: 4px 0;
      
  }
  .formulario input[type=text],
  .formulario input[type=email]
  {
    padding-left: 7px;
    outline: none;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    margin-bottom: 15px;   
  }
  .formulario input[type=submit]
  {
    padding-left: 7px;
    outline: none;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    background: #237a70; 
    color: white;
    font-size: 22px;
    margin-bottom: 15px;   
  }
  .formulario textarea{
      width: 100%;
      height: 120px;
      border: 1px solid #ccc;
      margin-bottom: 15px;
      padding: 10px;
      /* resize: vertical; */
      outline: none;
  }
  .tags-form{
      padding-left: 50px;
  }
  
  .tags-form h2{
    font-weight: normal;
   }
   .tags-form p{
    font-weight: lighter;
   }
  .tags-form p.tag-contacto{
    color: white;
    background: #237a70;
    text-align: center;
    margin-top: 6px;
    padding: 8px 4px;
   }
/* Fim pagina de contacto*/
/* Responsivo */
@media screen and (max-width:768px) {
    
  .tags-form{
    padding-left: 0;
}
  .formulario input[type=text],
  .formulario input[type=email]
  {
    margin-bottom: 0px;   
  }
  .formulario textarea{
    margin-bottom: 0;

  }
    .box-icones-single {
        width: 100%;
    }

    footer.footer1 {
        text-align: center;
    }

    .equipe-container {
        width: 100%;
    }

    .sobre-container {
        width: 100%;
        margin-top: 60px;
    }

    .w50,
    .w33,
    .w40,
    .w60,
    .w100 {
        margin-bottom: 20px;
        width: 100%;
    }

    .card-single {
        width: 100%;
    }

    .sobre__single__noticia img {
        width: 100%;
    }

    .sobre__single__noticia p {
        margin-top: 8px;
        width: 100%;
        padding: 0;
    }

}

/* Adicionado por matheus */
@media (max-width:980px) {
    .sobre__single__noticia img {
        width: 100%;
    }

    .sobre__single__noticia p {
        margin-top: 8px;
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width:500px) {

    .card-text{
        width: 100%; 
        }
    nav.menu-desktop {
        display: none;
    }

    nav.menu-mobile {
        display: block;
    }

    .card-single {
        padding: 10px;
    }
    .equipe-circle {
        flex-wrap: wrap;
        width: 100%;
    }
    .equipe-circle-single{
        margin-top: 50px;
    }
}

/* Fim responsivo */